<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.weplugin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HostApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity2"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.PluginService"
            android:process=":plugin" />

        <provider
            android:name="cn.wang.weplugin.container.PluginContainerContentProvider"
            android:authorities="com.tencent.shadow.contentprovider.authority.dynamic"
            android:grantUriPermissions="true"
            android:process=":plugin" />

        <service
            android:name=".services.PluginService"
            android:process=":plugin" />
        <!--
dynamic activity注册
          注意configChanges需要全注册
          theme需要注册成透明
        -->
        <activity
            android:name=".activitys.PluginDefaultProxyActivity"
            android:allowTaskReparenting="true"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/troop_Transparent" />
    </application>

</manifest>